<section class="container content-section text-center">
<h1>Bienvenue à la Caverne de l'ENSIIE</h1>
<p>Comme pour la caverne d'Alibaba, la caverne de l'ENSIIE regorge de trésors. Alors peut-être qu'il n'y a pas les quarantes voleurs (sûrement car il n'y a pas assez d'étrangers), mais l'histoire se répètera et vous trouverez fortune à l'intérieur de la Caverne.</p>
</section>

