<h1>Déposer une annonce</h1>

<% if user_signed_in? %>
<%= render 'form' %>
<% else %>
Veuillez vous connectez pour pouvoir déposer une annonce.
<% end %>
</br>
<%= link_to 'Retour vers les annonces.', annonces_path %>

